<!doctype html>

<html dir="rtl" lang="ur">

<head>
    <meta charset="utf-8">
    <title>{% if page.title != 'املا نامہ' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/style.css" />
    <script src="{{ site.github.url }}/assets/char-data.js"></script>
    <script src="{{ site.github.url }}/assets/imla-nama.js"></script>
</head>
