/* A little reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Some globals */
@font-face {
    font-family: NotoNastaliqUrdu;
    font-style: normal;
    font-weight: 400;
    src: url("type/NotoNastaliqUrdu-Regular.woff2") format("woff2"),
         url("type/NotoNastaliqUrdu-Regular.woff") format("woff");
}

@font-face {
    font-family: NotoNastaliqUrdu;
    font-style: normal;
    font-weight: 700;
    src: url("type/NotoNastaliqUrdu-Bold.subset.woff2") format("woff2"),
         url("type/NotoNastaliqUrdu-Bold.subset.woff") format("woff");
}

@font-face {
    font-family: LalezarWeb;
    font-style: normal;
    font-weight: 400;
    src: url("type/Lalezar-Regular.woff2") format("woff2"),
         url("type/Lalezar-Regular.woff") format("woff");
}

@font-face {
    font-family: FiraSans;
    font-style: normal;
    font-weight: 400;
    src: url("type/FiraSans-Regular.woff2") format("woff2"),
         url("type/FiraSans-Regular.woff") format("woff");
}

@counter-style urdu-abjad {
    system: fixed;
    symbols: '\627 ' '\628' '\62C' '\62F' '\6C1' '\648' '\632' '\62D' '\637' '\6CC' '\6A9' '\644' '\645' '\646' '\633' '\639' '\641' '\635' '\642' '\631' '\634' '\62A' '\62B' '\62E' '\630' '\636' '\638' '\63A';
    /* symbols: 'ا' 'ب' 'ج' 'د' 'ه' 'و' 'ز' 'ح' 'ط' 'ی' 'ك' 'ل' 'م' 'ن' 'ل' 'م' 'ن' 'س' 'ع' 'ف' 'ص' 'ق' 'ر' 'ش' 'ت' 'ث' 'خ' 'ذ' 'ض' 'ظ' 'غ' */;
    prefix: '(';
    suffix: ') ';
    } // custom counter style for urdu abjads. prefix and suffix brackets not working for some reason

html {
    box-sizing: border-box;
    font-size: 87.5%;
}

body {
    font-family: NotoNastaliqUrdu, FiraSans, sans-serif;
    color: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LalezarWeb, NotoNastaliqUrdu, FiraSans, sans-serif;
    font-weight: 400;
    margin: 0;
}

strong, b {
    font-weight: 400;
}

a {
    color: #C81F22;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dotted #C81F22;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #ccc;
}

p {
    margin: 0 0 2.6rem;
}

.arrow {
    color: #8CB12D;
}

.container {
    width: 92.5%;
    max-width: 1000px;
    margin: 0 auto;
}

.main-title {
    text-align: center;
    color: #8CB12D;
    font-size: 3rem;
    margin-top: 3rem;
}

.index {
    text-align: center;
}

.index h2 {
    margin: 4.2rem 0 1rem;
}

.index ul,
.index ol {
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-columns: 2;
    columns: 2;
}

.index ul {
    margin-bottom: 1.2rem;
}

.index ul + p {
    color: #777;
}

.toc-index {
    margin-bottom: 2.6rem;
    text-align: right;
    counter-reset: toc-index-count toc-index-count-abjad;

    li::before {
        font-family: NotoNastaliqUrdu, sans-serif; //Removed Lalezar due to lack of Urdu numeral support
        font-weight: 700; /* 700 = bold */
        line-height: 1;
        margin-left: 0.75em;
        text-align: center;
        width: 1em;
        color: #888;
        display: inline-block; //required for Abjad numbering on main table of contents
    }

    li:nth-child(n+3)::before {
        counter-increment: toc-index-count;
        content: counter(toc-index-count, persian); // using persian as firefox does not support urdu without -moz prefix
    }

    li:nth-child(-n+2)::before {
        counter-increment: toc-index-count-abjad;
        content: counter(toc-index-count-abjad, lower-roman); // Webkit fallback since it does not support counter-style
        content: counter(toc-index-count-abjad, urdu-abjad); // lower-roman numbering replaced with urdu abjads
    }
}
.index,
.content {
    font-feature-settings: "onum";
}

header[role="banner"] {
    background-color: rgba(51, 51, 51, 0.975);
    width: 100%;
}

header[role="banner"] a {
    color: inherit;
}

header[role="banner"] a:hover {
    border: none;
}

.top-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.top-bar h1 {
    line-height: 1.5;
    text-align: center;
    color: #8CB12D;
}

.page-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    color: #E6E8FF;
}

.page-nav li {
    font-size: 1.142857rem;
    line-height: 2.625;
    margin-left: 1em;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -4px;
}

.page-nav li a {
    width: 3rem;
    display: block;
}

.page-nav li:last-child {
    margin-left: 0;
}

.page-nav li:not(:last-child)::after {
    content: "\2022";
    color: #C81F22;
    margin-right: 1em;
}

.page-nav .page-nav-title {
    display: none;
}

article {
    font-size: 1rem;
    line-height: 2.6;
    counter-reset: subhead-count;
}

article h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    margin: 3rem 0;
}

article h2::before {
    font-family: NotoNastaliqUrdu, sans-serif;  //Removed Lalezar due to lack of Urdu numeral support
    font-weight: 700; /* 700 = bold */
    counter-increment: subhead-count;
    content: counter(subhead-count, persian);
    color: #888;
    margin-left: 0.75em;
    line-height: 1;
}

article h2 {
    line-height: 2;
}

article ul {
    padding: 0;
    margin-bottom: 2.6rem;
}

article ul li {
    list-style-type: none;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275%27%20height%3D%275%27%3E%3Crect%20height%3D%276%27%20width%3D%276%27%20fill%3D%27%238CB12D%27%20%2F%3E%3C%2Fsvg%3E") no-repeat 97.5% 1.4em;
    padding-right: 2em;
}

ul.example-list {
    list-style: none;
    padding: 0;
    margin: -2.6rem 0 2.6rem;
}

ul.example-list li {
    margin-left: 0.5em;
    background-image: none;
}

ul.example-list li,
.example {
    display: inline-block;
    background-color: #eee;
    border-radius: 2px;
    line-height: 2.2;
    padding: 0 5px;
    cursor: pointer;
    
    &:hover {
        background-color: #ddd;
    }
}

.example {
    font-style: normal;
}

.content ol {
    counter-reset: content-ol;
    padding-right: 2em;
    margin: 0 0 2.6rem;
    
    & > li {
        list-style-type: none;
        
        &::before {
            font-family:  NotoNastaliqUrdu, FiraSans, sans-serif; //Removed Lalezar due to lack of Urdu numeral support
            font-weight: 700; /* 700 = bold */
            content: counter(content-ol,persian);
            counter-increment: content-ol;
            line-height: 1;
            color: #888;
            display: inline-block;
            width: 2em;
            margin-right: -2em;
            padding-left: 0.75em;
            text-align: left;
        }
    }
    
    p:first-of-type {
        // If we don't do this, the first <p> in <ol>'s <li> will not appear on 
        // the same line as the list marker (::before)
        display: inline-block;
    }
    
    ol {
        & > li {
            &::before {
                content: counter(content-ol, lower-roman); // Webkit fallback since it does not support counter-style
                content: counter(content-ol, urdu-abjad); // lower-roman numbering replaced with urdu abjads
            }
            }
        }
    }


.content ol#markdown-toc {
    list-style: none;
    margin: 0 0 1.8rem;
    padding-right: 1.25rem;
    counter-reset: toc-count;

    & > li::before {
        counter-increment: toc-count;
        content: counter(toc-count, persian);
    }
}

.content .page-nav {
    border-bottom: 1px dotted #ddd;
    color: #777;
}

.content footer {
    text-align: center;
    color: #777;
}

footer[role="contentinfo"] {
    font-size: 0.8572rem;
    line-height: 2.4;
    border-top: 1px dotted #ddd;
    padding: 1.25rem 0;
    text-align: center;
    color: #777;
}

footer[role="contentinfo"] a {
    color: #111;
}

footer[role="contentinfo"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}

footer[role="contentinfo"] li {
    display: -ms-flexbox;
    display: flex;
    margin-left: 1em;
}

footer[role="contentinfo"] li::after {
    content: '|';
    margin-right: 1em;
}

footer[role="contentinfo"] li:last-child {
    margin-left: 0;
}

footer[role="contentinfo"] li:last-child::after {
    content: none;
}

.spelling-box {
    position: fixed;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    //max-width: 26rem;
    //max-height: 20rem;
    padding-bottom: 1rem;
    background-color: #FBFDF7;
    border-radius: 0.25rem;
    border: 1px solid #ee9192;
    display: flex;
    flex-direction: column;
    
    .spelling-box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem 0.75rem;
        background-color: #FBFDF7;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    
    .spelling-box-body {
        padding: 0 1rem;
        flex: 1;
        overflow-y: auto;
        /* See:  https://lea.verou.me/2012/04/background-attachment-local/ */
        background: linear-gradient(#FBFDF7 30%, rgba(251, 253, 247, 0)),
                    linear-gradient(rgba(251, 253, 247, 0), #FBFDF7 70%) 0 100%,
                    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
                    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 2rem,
                         100% 2rem,
                         100% 1rem,
                         100% 1rem;
        background-attachment: local, local, scroll, scroll;
    }
    
    h6 {
        font-family: NotoNastaliqUrdu, Lalezar-Regular, FiraSans, sans-serif;
        font-size: 1.1rem;
    }
    
    .close {
        cursor: pointer;
        font-family: LalezarWeb, sans-serif;
        color: #888;
        font-size: 1.5em;
        line-height: 1.2;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        margin-left: -0.3em;
    }

    table {
        width: 100%;
        font-size: 0.9em;
        line-height: 2.8;
        margin-bottom: 0.75rem;
    }
    
    td {
        border: 0;
        border-bottom: 1px solid #ddd;
        padding: 0.25em 0;
        
        &:first-child {
            width: 15%;
            text-align: center;
        }
        
        &:last-child {
            font-family: FiraSans, sans-serif;
            font-feature-settings: 'smcp', 'c2sc', 'onum';
            line-height: 1.25;
            text-align: left;
            padding-right: 0.25em;
        }
    }
    
    .diacritic {
        font-size: 1.7em;
        line-height: 1;
    }
    
    .alt-label {
        font-family: FiraSans, sans-serif;
        font-feature-settings: 'smcp', 'c2sc', 'onum';
    }
    
    tr:last-child {
        td {
            border-bottom: 0;
        }
    }
    
    @media (min-width: 28rem) {
        width: calc(100% - 2rem - 2px);
        max-width: 26rem;
        right: auto;
    }
    
    @media (min-height: 22rem) {
        max-height: 26rem;
        top: auto;
    }
    
    @media (min-height: 40rem) {
        max-height: 50vh;
    }
}

@media (min-width: 640px) {
    html {
        font-size: 100%;
    }

    .index ol,
    .index ul {
        -moz-columns: 3;
        columns: 3;
    }
    
    .page-nav li {
        font-size: 0.875rem;
        line-height: 3;
        position: static;
        margin-left: 1em;
        text-align: right;
        background-color: transparent;
    }
    
    .page-nav li a {
        width: auto;
    }
    
    .page-nav .page-nav-title {
        display: inline;
    }
}

@media (min-width: 768px) {
    article ul li {
        background-position-x: 98%;
    }
    
    .content > ol#markdown-toc {
        max-width: 280px;
        width: 28%;
        border-top: 2px solid #ddd;
        padding-top: 1.5rem;
        margin-top: calc(-1.5rem - 2px);
        margin-right: 0;
        float: right;
        position: sticky;
        top: 0;
    }
    
    .content > h1,
    .content > h2,
    .content > p,
    .content > ol,
    .content > ul,
    .content > footer {
        max-width: 680px;
        width: 68%;
        margin-right: auto;
    }
    
    .content h1 {
        border-bottom: 2px solid #222;
        text-align: right;
        padding-bottom: 1.5rem;
        margin: 3rem auto 1.5rem 0;
    }

    .content footer {
        margin: 4.5rem auto 0 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .content footer p.previous-chapter-link {
        text-align: right;
        margin-left: auto;
    }
    
    .content footer p.next-chapter-link {
        text-align: left;
        margin-right: auto;
    }
}
