<!doctype html>

<html lang="ur">

<head>
    {{> meta }}
</head>

<body dir="rtl">
    <header role="banner">
        <div class="container top-bar">
            <h1><a href="{{rootPath}}">املا نامہ</a></h1>
            <nav class="page-nav">
                <ul>
                    {{#if previous.title }}
                    <li><a href="{{rootPath}}{{previous.path}}"><span class="arrow">&#x2192;</span><span class="page-nav-title"> {{previous.title}}</span></a></li>
                    {{/if}}
                    {{#if next.title }}
                    <li><a href="{{rootPath}}{{next.path}}"><span class="page-nav-title">{{next.title}} </span><span class="arrow">&#x2190;</span></a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
    
    <article class="container">
        <h1>{{ title }}</h1>
        <div class="content-wrap">
            <div class="toc">
                <ol>
                {{#each headings }}
                    <li><a href="#{{ id }}">{{ text }}</a></li>
                {{/each}}
                </ol>
            </div>
            <div class="content">
                {{{contents}}}
                <footer>
                    {{#if previous.title }}
                    <p class="previous-chapter-link"><span class="arrow">&#x2192;</span> پچھلا باب<br><a href="{{rootPath}}{{previous.path}}">{{previous.title}}</a></p>
                    {{/if}}
                    {{#if next.title }}
                    <p class="next-chapter-link">اگلا باب <span class="arrow">&#x2190;</span><br><a href="{{rootPath}}{{next.path}}">{{next.title}}</a></p>
                    {{/if}}
                </footer>
            </div>
        </div>
    </article>
    {{> footer }}
</body>

</html>
